@import '../../App.css';


/*HOME PAGE*/
.homepage{
    width: 100%;
    height: 100%;
    background-color: var(--darkBlue);
    background-image: url('../../assets/full-color.png');
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-size: 25vw 25vw;
}

.homepage button{
    position: absolute;
    bottom: 50px;
    right: 20%;
    height: 40px;
    width: 60%;
    font-size: 2em;
}

@media screen and (max-width: 600px){
    .homepage{
        background-size: contain;
    }
}

/*SKILLS PAGE*/

.skillsPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu{
    text-align: center;
}

.selectSkill {
    border-radius: 15px;
}

.selectSkill h3{
    padding: 5px;
    -webkit-text-stroke:2px var(--black);
    -webkit-text-fill-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 15px;
    font-size: 1.5em;
}

.selectSkill:hover,
.selectSkill:focus{
    cursor: pointer;
    text-decoration: underline;
}

.selectSkill.mind{
    background-color: var(--lightBlue);
}

.selectSkill.inte{
    background-color: var(--lightGreen);
}

.selectSkill.emot{
    background-color: var(--lightYellow);
}

.selectSkill.dist{
    background-color: var(--lightRed);
}

.viewSkills{
    color: var(--darkBlue);
}

.viewSkills h1, 
.viewSkills h2,
.viewSkills h3{
    text-align: center;
}

.viewSkills p{
    text-align: justify;
}

.skillsPage button {
    margin: 10px;
    padding: 3px;
    height: 37px;
    font-size: 1.5em;
}

/*ABOUT PAGE*/

.aboutPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--darkBlue);
    text-align: center;
}

.aboutPage button{
    margin: 10px;
    padding: 3px;
    height: 37px;
    font-size: 1.5em;
}

/*RESOURCES PAGE*/