:root {
    --white: #ffffff;
    --offWhite: #f0f8ff;
    --transWhite: #ffffff50;
    --black: #000000;
    --offBlack: #282828;
    --transBlack: #00000050;
    --darkBlue: #336699;
    --darkTransBlue: #33669950;
    --lightBlue: #99ccff;
    --lightRed: #cd5c5c;
    --lightYellow: #f0e68c;
    --lightGreen: #7fffd4;
    --transparent: #00000000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: 3px solid var(--black);
    border-radius: 15px;
    background: var(--offWhite);
    color: var(--darkBlue);
}

button:hover,
button:focus {
    background: var(--darkBlue);
    color: var(--offWhite);
    cursor: pointer;
}

/*LAYOUT*/

body {
    background-color: #282828;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.app {
    position: relative;
    background-color: var(--offWhite);
    height: 540px;
    width: 640px;
    border-radius: 10px;
    padding: 10px;
}

.app-inner{
    height: 100%;
    width: 100%;
    overflow-x: auto;
}


/*NAVIGATION*/

.hamburger {
    height: 27px;
    border: none;
    border-radius: 3px;
    background-color: var(--transWhite);
    position: absolute;
    top: 10px;
    right: 10px;
}

.hamburger:hover,
.hamburger:focus {
    cursor: pointer;
    background-color: var(--white);
    border: 1px solid var(--darkBlue);
}

.hamburger > span {
    display: block;
    height: 3px;
    width: 30px;
    background: var(--darkBlue);
    border-radius: 3px;
    margin: 3px;
}

nav {
    position: absolute;
    top: 37px;
    right: 10px;
    width: 33%;
    background-color: var(--white);
}

nav a {
    color: var(--darkBlue)
}

nav > ul {
    list-style: none;
    font-size: 1.5em;
    text-align: center;
}

.nav-item:hover,
.nav-item:focus {
    font-weight: bold;
}



@media only screen and (max-width: 768px) {
    .app {
        width: 600px;
        height: 507px;
    }
}

@media only screen and (max-width: 600px) {
    .app {
        width: 100%;
        height: 100%;
    }
}
