@import '../../App.css';

.results-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: var(--darkBlue);
}

.results-container > ul {
    list-style: none;
    text-align: left;
    font-weight: bold;
}

.results-container h1 {
    width: 100%;
    padding: 10px;
    -webkit-text-stroke:2px var(--black);
    -webkit-text-fill-color: var(--white);
    border: 2px solid var(--black);
    border-radius: 15px;
}

.ieresults h1{
    background-color: var(--lightGreen);
}

.erresults h1{
    background-color: var(--lightYellow);
}

.dtresults h1{
    background-color: var(--lightRed);
}

.skill {
    font-style: italic;
}

/*DISTRESS TOLERANCE*/
.getHelp {
    border: 3px solid var(--lightRed);
    padding: 10px;
    border-radius: 15px;
    color: var(--lightRed)
}

.getHelp button{
    padding: 5px;
    width: 25%;
    min-width: fit-content;
    height: fit-content;
    border-color: var(--lightRed);
    color: var(--lightRed);
    font-size: 1.2em;
}

.getHelp button:hover,
.getHelp button:focus{
    background-color: var(--lightRed);
    color: var(--white)
}


/*MINDFULNESS SECTION*/
.mindfulness{
    background-color: var(--offWhite);
    width: 100%;
    text-align: center;
    color: var(--darkBlue);
}

.mindfulness > h1 {
    font-size: 1.4em;
}

.mindfulness > h2 {
    font-size: 1.2em;
}

.mindfulness > h3 {
    font-size: 1.1em;
}

.mindfulness > ul {
    text-decoration: none;
}

.mindfulness > ul > li {
    font-size: 1.1;
    font-weight: bold;
    font-style: italic;
}


/*BUTTONS*/

.buttons {
    width: 100%;
    padding: 10px;
}

.buttons button {
    width: 50%;
    height: 37px;
    font-size: 1.5em;
}
